#form {
    margin-top: 15%; /* отступ сверху */
    margin-left: 40%; /* Отступ слева  */
    width: 300px;
    height: 400px; /* Размеры */
    background: #FFFFFF; /* Цвет фона */
    border: 0px solid #fff; /* Белая рамка */
    border-radius: 30px; /* Радиус скругления */
    display: inline-block;
   }
 .registr {
   width: 300px;
    height: 50px;
    background: #FF4500;
    margin-top: 0%;
    margin-right: 30px;
}

#FirstName {
    margin-top: 10%; /* Отступ сверху  */
    margin-left: 5%; /* Отступ слева  */
      border-radius: 7px;
    width: 100px;
}
#LastName {
   margin-top: 10%; /* Отступ сверху */
    margin-left: 10%; /* Отступ слева */
    border-radius: 7px;
    width: 100px;
}
#Mail {
    margin-top: 12%; /* Отступ сверху  */
    margin-left: 5%; /* Отступ слева  */
      border-radius: 7px;
    width: 100px;
}

#Password{
    margin-top: 12%; /* Отступ сверху  */
    margin-left: 5%; /* Отступ слева  */
      border-radius: 7px;
    width: 100px;
}
#Password2 {
   margin-top:12%; /* Отступ сверху */
    margin-left: 10%; /* Отступ слева */
    border-radius: 7px;
    width: 120px;
}
.text {
    text-align:  center;
     padding:10px; /* Поля вокруг текста */
    
    color: white;
}
#But1 {
    margin-top: 12%; /* Отступ сверху  */
    margin-left: 17%; /* Отступ слева  */
      border-radius: 7px;
    width: 200px;
     background: #F0E68C; 
 	color: #FF6347;
}
.img{
 margin-top: 0%; /* Отступ сверху  */
    margin-left: 27%; /* Отступ слева  */
padding-bottom: 0px; /* Отступ снизу */
}

